{% extends 'base.html.twig' %}

{% block body %}


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">dia</th>
      <th scope="col">descrição</th>
      <th scope="col">ações</th>
    </tr>
  </thead>
  <tbody>
  {%for todo in todos %}
    <tr>
      <th scope="row">{{todo.name}}</th>
      <td>{{todo.deverdia|date('F j, Y, g:i a')}}</td>
      <td>{{todo.descricao}}</td>
      <td><a href="/detail/{{todo.id}}" class="btn btn-success">Detail</a>
      <a href="/delet/{{todo.id}}" class="btn btn-danger">Deletar</a>
      <a href="/edit/{{todo.id}}" class="btn btn-primary">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}